<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h3>Here are all the tasks in this category:</h3>

    @foreach (var task in @Model["tasks"]) {
      <h3>@task.GetDescription()</h3>
    }

    <a href='/categories/@Model["category"].GetId()/tasks/new'>Add a new task</a>
    <a href="/">Return to Main Page</a>
  </body>
</html>
