<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <a href="/categories">View category list</a>
    <a href="/categories/new">Add a new category</a>
  </body>
</html>
